{% load static % }
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Verde Cars" />
    <meta name="author" content="Group 6 CS3450 USU- 2023" />
    <meta name="language" content="en" />
    <meta name="robots" content="follow, all" />
    <meta name="revisit-after" content="5 days" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{% static 'verdeCarsPages/mainStyle.css' %}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>users</title>
    <link rel="stylesheet" href="mainStyle.css">
</head>
<body>
<div class="header">
<nav class="header-container">
        <div class="header-buttons">
            <a class="header-link" href="/index">Home</a>
            <a class="header-link" href="/index">PlaceHolder</a>
            <a class="header-link" href="/index">PlaceHolder</a>
            <a class="header-link" href="/index">PlaceHolder</a>
            <a class="header-link" href="/index">PlaceHolder</a>
        </div>
        <div class="user-interface">
            <div class="login-button anchor-option">            
                <a class="drop-btn login-menu-btn" href="">Login</a>
            </div>
        </div>
    </nav>
</div>

{% for user in user_set %}
        <p>{{user.lname}}, {{user.fname}}</p>
 {% endfor %}
 
</body>
</html>