.retrieval-list {
    border-style: solid;
    border-radius: 15px;
    border-color: #90BE6D;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    padding: 1%;
}